<% block = view(:block).new %>

  <div class="action-bar">
    <div class="action-group-left">
      <h1 class="admin-section-title">Action Bar</h1>
    </div>
    <div class="action-group-left">
      <div class="arranger">
        <div class="arrange-voice">Filter by</div>
        <div class="dropdown">
          <div class="active-voice"><span class="voice-text">All</span> <span class="drop-icon"></span></div>
          <div class="the-drop">
            <ul>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="action-group-right">
      <form action="" class="search-bar rounded">
        <input type="text" placeholder="Search..." class="search-field">
        <button type="submit" class="search-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M495 466.2L377.2 348.4c29.2-35.6 46.8-81.2 46.8-130.9C424 103.5 331.5 11 217.5 11 103.4 11 11 103.5 11 217.5S103.4 424 217.5 424c49.7 0 95.2-17.5 130.8-46.7L466.1 495c8 8 20.9 8 28.9 0 8-7.9 8-20.9 0-28.8zm-277.5-83.3C126.2 382.9 52 308.7 52 217.5S126.2 52 217.5 52C308.7 52 383 126.3 383 217.5s-74.3 165.4-165.5 165.4z"/></svg></button>
      </form>
    </div>
    <div class="action-group-right">
      <a href="" class="lato-button action-button action-remove" data-position="1">Action</a>
    </div>
    <div class="action-nav-holder">
      <div class="action-menu-toggle">Menu</div>
      <div class="action-nav-menu"></div>
    </div>
  </div>

  <div class="content-row">

    <div class="column small-full medium-half content-block">
      <h2 class="content-block-title">Typography</h2>
      <h1>Hello</h1>
      <h2>Hello</h2>
      <h3>Hello</h3>
      <h4>Hello</h4>
      <h5>Hello</h5>
      <h6>Hello</h6>
      <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. Officia necessitatibus cupiditate ut neque itaque ullam reiciendis ipsum qui, fugit, atque molestias. Et <strong>ullam illo consectetur</strong> rem repudiandae necessitatibus minima provident corporis natus nobis, fugit qui eos fuga facilis quia cum autem ex atque assumenda libero sed iste saepe nisi. Fuga, ut fugiat odio itaque odit necessitatibus explicabo rem incidunt hic illum, quaerat, distinctio, ratione dolore.</p>
      <ul>
        <li>Unordered List</li>
        <li>Unordered List</li>
        <li>Unordered List</li>
      </ul>
      <ol>
        <li>Ordered List</li>
        <li>Ordered List</li>
        <li>Ordered List</li>
      </ol>
    </div>
     <!--  <form action="/file-upload" class="dropzone">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form> -->

    <div class="column small-full medium-half content-block">
      <h2 class="form-title">Example form</h2>
      <form action="" class="lato-form">
        <div class="form-group">
          <div class="form-control">
            <label class="form-label">Informazione</label>
            <input type="text" class="input">
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Nome</label>
            <input type="text" class="input">
          </div>
          <div class="form-control half" data-control="email">
            <label class="form-label">Email</label>
            <input type="text" class="input input-email email-suggestion">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half" data-input="required">
            <label class="form-label">Date</label>
            <input type="text" class="input date-picker">
            <div class="input-error-message"></div>
          </div>
          <div class="form-control half" data-control="number">
            <label class="form-label">Number</label>
            <input type="text" class="input input-number">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Selectize</label>
            <select class="select" name="" id="">
              <option value="yes">Voto si</option>
              <option value="no">Voto no</option>
            </select>
          </div>
          <div class="form-control half">
            <label class="form-label">Selectize Multiplo</label>
            <select class="select" multiple name="" id="">
              <option value="yoppa">Voto yoppa</option>
              <option value="no">Voto no</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half" data-input="radio">
            <label class="form-label">Checkbox e Radio</label>
            <div class="form-block">
              <input type="checkbox" class="check" name="cb" id="cb1"><label class="label-control" for="cb1">Check and uncheck this</label>
            </div>
            <div class="form-block">
              <input type="checkbox" class="check" disabled="disabled" name="cb" id="cb2">
              <label class="label-control" for="cb2">Disabled man</label>
            </div>
            <div class="form-block">
              <input type="radio" class="radio" name="rd" id="rd1">
              <label class="label-control" for="rd1">Click this</label>
            </div>
            <div class="form-block">
              <input type="radio" class="radio" disabled="disabled" name="rd" id="rd2">
              <label class="label-control" for="rd2">Disabled man</label>
            </div>
            <div class="input-error-message"></div>
          </div>
          <div class="form-control half" data-input="required">
            <label class="form-label">Textarea</label>
            <textarea class="textarea" name="" id=""></textarea>
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Password</label>
            <input type="password" class="input input-password">
            <div class="password-reveal"></div>
          </div>
          <div class="form-control half">
            <label class="form-label">Input <span class="form-advise">(max 5 caratteri)</span></label>
            <input type="password" class="input input-length">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Upload File</label>
            <input type="file" name="file" id="file" class="input-file" data-multiple-caption="{count} files selected" multiple />
            <label for="file">
              <div class="upload-icon"><%= put_svg('upload') %></div>
              <span>Choose a file</span>
            </label>
          </div>
          <div class="form-control half" data-input="required">
            <label class="form-label">Time</label>
            <input type="text" class="input time-picker">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group text-right">
          <div class="form-control">
            <input type="submit" class="lato-button">
          </div>
        </div>
      </form>

      <h2 class="form-title">Another form</h2>
      <form action="" class="lato-form">
        <div class="form-group">
          <div class="form-control half" data-input="required">
            <label class="form-label">Nome</label>
            <input type="text" class="input">
          </div>
          <div class="form-control half" data-control="email">
            <label class="form-label">Email</label>
            <input type="text" class="input input-email">
            <div class="input-error-message"></div>
          </div>
          <div class="form-control half" data-control="email">
            <label class="form-label">Email suggestion</label>
            <input type="text" class="input input-email email-suggestion">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group text-right">
          <div class="form-control">
            <input type="submit" class="lato-button">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="action-bar">
    <div class="action-group-left">
      <h2 class="admin-section-title">Action Bar</h2>
    </div>
    <div class="action-group-right">
      <div class="button-group group-medium">
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="column content-block">
      <h2 class="content-block-title">Button</h2>
      <a href="" class="lato-button">
        <div class="button-icon"><%= put_svg('upload') %></div>
        <span>Icona</span>
      </a>
      <a href="" class="lato-button button-small button-yellow">
        <div class="button-icon"><%= put_svg('upload') %></div>
        <span>Icona</span>
      </a>
      <a href="" class="lato-button button-green">Green</a>
      <a href="" class="lato-button button-medium button-red">Red</a>
      <button class="lato-button" disabled>Disabled</button>
      <a href="" class="lato-button button-line">Line</a>
      <h2 class="content-block-title">Button Group</h2>
      <div class="button-group">
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
      </div>
    </div>
  </div>

  <div class="action-bar">
    <div class="action-group-left">
      <h2 class="admin-section-title">Grid System</h2>
    </div>
  </div>

  <div class="content-row">
    <div class="column small-full medium-half content-block">
      <h5>Good Equal Height Shit Man</h5>
      <div>Lorem ipsum dolor sit amet, consectetur.</div>
    </div>
    <div class="column small-full medium-half content-block">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, laudantium. Natus provident sit, aliquam, cumque ducimus animi voluptatum est veritatis nisi minima dolorum error at sapiente inventore laboriosam maiores quam quis cum numquam similique nostrum repudiandae. Cupiditate doloribus distinctio amet! Impedit magni voluptatem repellendus, tempora animi error ratione sint sed cumque distinctio. Deserunt excepturi, maiores inventore, ab vitae neque maxime! Eos, natus, ullam. Sint, nam?</div>
    </div>
  </div>

  <div class="action-bar">
    <div class="action-group-left">
      <h2 class="admin-section-title">Table</h2>
    </div>
    <div class="action-group-right">
      <a href="" class="lato-button">Action</a>
    </div>
  </div>

  <div class="content-row">
    <div class="content-block column">
      <table class="table down-before">
        <thead>
          <tr>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="0">Attributo 0</td>
            <td data-label="1">Attributo 1</td>
            <td data-label="2">Attributo 2</td>
            <td data-label="3">Attributo 3</td>
          </tr>
          <tr>
            <td data-label="0">Attributo 0</td>
            <td data-label="1">Attributo 1</td>
            <td data-label="2">Attributo 2</td>
            <td data-label="3">Attributo 3</td>
          </tr>
          <tr>
            <td data-label="0">Attributo 0</td>
            <td data-label="1">Attributo 1</td>
            <td data-label="2">Attributo 2</td>
            <td data-label="3">Attributo 3</td>
          </tr>
          <tr>
            <td data-label="0">Attributo 0</td>
            <td data-label="1">Attributo 1</td>
            <td data-label="2">Attributo 2</td>
            <td data-label="3">Attributo 3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="action-bar">
    <div class="action-group-left">
      <h2 class="admin-section-title">Step process</h2>
    </div>
  </div>

  <div class="content-row">
    <div class="content-block column">
      <div class="element-step" data-step-id="1">
        <div class="step-scroller">
          <div class="step active">1</div>
          <div class="step">2</div>
          <div class="step">3</div>
          <div class="step">4</div>
        </div>
      </div>
      <div class="step-navigator" data-step-id="1">
        <button class="lato-button step-button step-prev">Prev</button>
        <div class="step-paginate-container">
          <ul class="step-paginate">

          </ul>
        </div>
        <button class="lato-button step-button step-next">Next</button>
      </div>
    </div>
  </div>

<%= raw block.close %>
