<!-- <div class="content-row">
<div class="content-block column">
  <div class="element-step" data-step-id="1">
    <div class="step-scroller">
      <div class="step active">1</div>
      <div class="step">2</div>
      <div class="step">3</div>
      <div class="step">4</div>
    </div>
  </div>
  <div class="step-navigator" data-step-id="1">
    <button class="lato-button step-button step-prev">Prev</button>
    <div class="step-paginate-container">
      <ul class="step-paginate">

      </ul>
    </div>
    <button class="lato-button step-button step-next">Next</button>
  </div>
</div>
</div> -->