<div class="confirmation-popup-container">
   <div class="confirmation-popup js-confirmation-popup">
     <div class="confirmation-popup-question-container">
       <div class="confirmation-popup-question js-confirmation-popup-question"></div>
     </div>
     <div class="confirmation-popup-answers">
       <a href="" class="lato-button button-small confirmation-popup-answer js-confirmation-popup-answer-success"></a>
       <div class="lato-button button-small button-red confirmation-popup-answer js-confirmation-popup-answer-nope"></div>
     </div>
   </div>
 </div>