.content-row {
  width: 100%;
  @include clearfix();
}

.content-block {
  width: 100%;
  position: relative;
  background-color: $content-block-bg;
  box-shadow: $content-block-shadow;
  padding: $content-block-padding;
  margin-bottom: $content-block-margin-bottom;
  // Le seguenti classi sono mantenute solo per retrocompatibilità:
  &.half {
    @include col(1/2);
  }
  &.third {
    @include col(1/3);
  }
  &.two-third {
    @include col(2/3);
  }
  &.fourth {
    @include col(1/4);
  }
  &.three-fourth {
    @include col(3/4);
  }
}

.content-block-title {
  font-size: em($content-block-title-size);
}
