/* Navigation Module */

.main-navigation-header {
  //position: fixed;
  //width: $nav-width;
  background-color: $nav-bg;
  box-shadow: $nav-shadow;
  padding-left: 30px;
  @include clearfix();
  z-index: z(menu);
}

.nav-logo {
  float: left;
  padding: 22px 0;
  img, svg {
    width: 100px;
    height: 20px;
    position: relative;
    top: 4px;
    left: -15px;
  }
}

.nav-actions, .nav-account-area {
  float: right;
}

.nav-actions {
  padding: 22px 30px;
  // background-color: #F5F7F8;
  .nav-action {
    display: inline-block;
    margin-right: 15px;
    svg { 
      @include size(22px, 20px);
      position: relative;
      top: 3px;
      path {
        fill: mix($nav-actions-color, white, 50%);
        transition: all 0.3s ease;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      svg path {
        fill: $nav-actions-color;
      }
    }
  }
}

.nav-account-area {
  position: relative;
  padding: $nav-padding-vertical 30px $nav-padding-vertical 21px;
  cursor: pointer;
  border-left: 1px solid $catskill-white;
  transition: border-color 0.25s ease, background-color 0.3s ease;
  .nav-account-img {
    display: inline-block;
    @include size(45px);
    background-color: $nav-account-img-bg;
    border-radius: 50%;
    margin-right: 10px;
    span {
      @include visual-hide();
    }
  }
  .nav-account-username {
    display: inline-block;
    position: relative;
    top: -15px;
  }
  .nav-account-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    list-style: none;
    box-shadow: 0 4px 9px -3px rgba($nav-account-drop-shadow, 0.25);
    border-top: 1px solid $nav-account-drop-border-color;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
    z-index: 90;
    transition: all 0.3s ease;
    li {
      opacity: 0;
      transform: translateY(6px);
      transition: all 0.3s;
      transition-delay: 0.3s;
      &:nth-child(2) {
        transition-delay: 0.35s;
      }
      &:nth-child(3) {
        transition-delay: 0.38s;
      }
      &:nth-child(4) {
        transition-delay: 0.42s;
      }
      &:nth-child(5) {
        transition-delay: 0.45s;
      }
    }
    a {
      display: block;
      text-decoration: none;
      padding: 12px 10px 12px 20px;
      overflow: hidden;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        transform: translateX(-5px);
        background-color: $nav-account-drop-left-stripe;
        transition: transform 0.35s $snappy;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        margin: 0 auto;
        height: 1px;
        background-color: #F0F3FA;
      }
      &:hover {
        &:before {
          transform: translateX(0);
        }
      }
      &.logout {
        &:hover {
          svg path {
            fill: $scarlet;
          }
        }
      }
    }
    .dropdown-icon {
      display: inline-block;
      margin-right: 8px;
      svg {
        @include size(14px);
        position: relative;
        top: 1px;
        path {
          fill: $nav-account-drop-icon-color;
          transition: all 0.3s ease;
        }
      }
    }
    li:last-child {
      a:after {
        display: none;
      }
    }
  }
  &:hover {
    background-color: $catskill-white;
    border-color: darken($catskill-white, 4%);
  }
  .is-dropdown-open & {
    .nav-account-dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      li {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.menu-toggle {
  display: none;
}

@include mq-max(766px) {
  .menu-toggle {
    display: block;
    float: right;
    @include size(40px, 40px);
    padding-top: 12px;
    span {
      display: block;
      @include size(40px, 3px);
      margin: 0 0 5px;
      background: $white;
      transition: all 0.2s ease;
    }

    &.is-mobile-menu-open {
      span {
        background: $white;
        &:first-child {
          transition-delay: 0.2s;
          transform: rotate(45deg);
          transform-origin: 10px 50%;
        }
        &:nth-child(2) {
          transform: translateX(40px);
          opacity: 0;
        }
        &:nth-child(3) {
          transition-delay: 0.4s;
          transform: rotate(-45deg);
          transform-origin: 8px 50%;
        }
      }
    }
  }
  .main-navigation-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 20px;
    background-color: $sidebar-bg;
  }
  .nav-account-area {
    width: 100%;
    padding: 0;
    border-left: 0;
    .nav-account-img, .nav-account-username {
      display: none;
    }
    .nav-account-dropdown {
      position: relative;
      top: auto;
      left: auto;
      box-shadow: none;
      opacity: 1;
      visibility: visible;
      transform: none;
      border: 0;
      background-color: $sidebar-bg;
      li {
        opacity: 1;
        transform: none;
      }
      a {
        padding: 20px 0 20px 25px;
        color: $ship-cove;
        .dropdown-icon {
          margin-right: 20px;
        }
      }
    }
  }
}