// Stile paginazione momentaneamente per la gemma
// 'will_paginate' già inclusa in lato_view

.pagination {
  text-align: center;

  .previous_page {
    float: left;
    text-decoration: none;
  }

  .next_page {
    float: right;
    text-decoration: none;
  }

  .current {
    display: inline-block;
    background: $pagination-current-bg;
    color: $pagination-current-color;
    border-radius: 50%;
    @include size(25px);
    font-style: normal;
  }

  a {
    margin: 0 5px;
  }

}
