.search-bar {
  position: relative;
  min-width: 270px;
}

.search-field {
  width: 70%;
  border: 0;
  padding: 7px 17px;
  background: white;
  box-shadow: 0px 2px 6px rgba(black, 0.1);
  transition: all 0.4s ease;
  &:focus {
    outline: none;
    box-shadow: 0px 2px 8px rgba(black, 0.15);
  }
}

.search-button {
  border: none;
  position: absolute;
  height: 100%;
  padding: 7px 12px;
  background-color: $robin-blue;
  color: white;
  box-shadow: 0px 2px 6px rgba(black, 0.1);
  svg {
    @include size(15px);
    path {
      fill: white;
    }
  }
}

.search-bar.rounded {
  .search-field {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .search-button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}