.element-step, .step-scroller {
  width: 100%;
  overflow: hidden;
  @include clearfix();
}

.step-scroller {
  transition: all 0.45s;
}

.element-step {
  padding: 10px 0;
}

.step {
  float: left;
  width: 100%;
}

.step-navigator {
  text-align: center;
  padding: 5px 0;
}

.step-paginate-container {
  display: inline-block;
  padding: 0 $step-paginate-spacing;
}

.step-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}

.step-paginate-index {
  display: inline-block;
  @include size($step-index-base-size);
  line-height: $step-index-base-size;
  cursor: pointer;
  margin-right: $step-index-base-spacing;
  border-radius: 50%;
  box-shadow: $step-index-shadow;
  color: $step-index-base-color;
  transition: all 0.3s;
  &:last-child {
    margin-right: 0;
  }
  &.active, &:hover {
    color: $step-index-active-color;
    box-shadow: $step-index-active-shadow;
  }
}
