<% left_widgets.each do |widget| %>
<div class="action-group-left">
  <%= raw widget.first %>
</div>
<% end %>

<% right_widgets.each do |widget| %>
<div class="action-group-right">
  <%= raw widget.first %>
</div>
<% end %>
