<div class="action-bar">
  <div class="action-group-left">
    <h1 class="admin-section-title"><%= @title %></h1>
  </div>

  <% if @widgets %>
    <% @widgets.each do |widget| %>
    <div class="action-group-right">
      <%= raw widget.first %>
    </div>
    <% end %>
  <% end %>

  <div class="action-group-right">
    <% if @links %>
      <% @links.each do |link| %>
        <%= link_to link[0], link[1], class: 'lato-button action-button' %>
      <% end %>
    <% end %>
  </div>
</div>
