<%  
	n_select = @select_inputs.length
	randoms = [] 

	labels = []
	names = []
	api_urls = []
	values = []
	value_fields = []
	label_fields = []

	(0..n_select).each do |i|
		randoms[i] = SecureRandom.hex 
		labels[i] = @select_inputs[i][:label]
		names[i] = @select_inputs[i][:name]
		api_urls[i] = @select_inputs[i][:api_url]
		values[i] = @select_inputs[i][:value]
		value_fields[i] = @select_inputs[i][:value_field]
		label_fields[i] = @select_inputs[i][:label_field]
	end
%>

<div class="form-control <% @width %>" <% required_data_input %>>
	<div class="form-control" style="min-height: 36px;">
		<% (0..n_select).each do |i| %>
			<div class="form-control <% if n_select % 3 == 0 %> third <% else %> half <% end %>">
				<label class="form-label"><%= labels[i] %></label>
				<input type="text" id="select_<%=randoms[i]%>" name="<%=names[i]%>" value="<%=values[i]%>">
			</div>
		<% end %>
	</div>
</div>

