
<%  
	n_select = @select_inputs.length
	randoms = [] 

	labels = []
	names = []
	api_urls = []
	values = []
	value_fields = []
	label_fields = []


%>

<div class="form-control <% @width %>">
	<div class="form-control" style="min-height: 36px;">

	</div>
</div>



<script>
	setTimeout(function() {
		var randoms = []
		var api_urls = []
		var value_fields = []
		var label_fields = []
		var options = []
		var values = []
		var Jselects = []
		var selects = []

		
		
		

		var _startAllSelectizes = function(){

		  }


	}, 500);
</script>
