#admin-wrapper {
  display: flex;
  width: 100%;
  @include clearfix();
}

.main-content {
  flex: 1;
  height: 100vh;
  overflow: auto;
  .content-wrapper {
    margin-top: 25px;
    padding: 0 15px 0 30px;
    @include clearfix();
  }
  .is-confirmation-popup-open & {
    overflow: hidden;
  }
}

.admin-section-title {
  font-size: em(35px);
  margin-bottom: 0;
}

@include mq-max(766px) {
  .main-content {
    .content-wrapper {
      margin-top: 35px;
      padding: 0 20px;
    }
  }
}
