/* Basic grid system */

@if settings('use-grid') {
  .col-half {
    @include col(1/2);
  }
  .col-one-third {
    @include col(1/3);
  }
  .col-two-third {
    @include col(2/3);
  }
  .col-one-fourth {
    @include col(1/4);
  }
  .col-three-fourth {
    @include col(3/4);
  }
}