/* General layout */

@import "grid";

section {
  width: 100%;
  display: block;
  position: relative;
  @include clearfix();
}

main {
  position: relative;
}

// Layout Utility classes
.content {
  width: $main-max-width;
  margin: 0 auto;
  @include clearfix();
  @include mq-min($large) {
    width: $main-max-width_large;
  }
  @include mq-max($desk) {
    width: 95%;
  }
}

.inner-container {
  width: 100%;
  @include clearfix();
}

.text-center    { text-align: center !important; }
.text-left      { text-align: left !important; }
.text-right     { text-align: right !important; }
.text-uppercase { text-transform: uppercase !important; }
.go-right       { float: right !important; }
.full-width     { width: 100% !important; }
.spacing        { padding: $base-padding 0; }

@import "admin";
//@import "print";
