<div class="action-bar">
  <div class="action-group-left">
    <h1 class="admin-section-title"><%= @title %></h1>
  </div>

  <% if @widgets %>
    <% @widgets.each do |widget| %>
    <div class="action-group-<%= widget[:align] %>">
      <%= raw widget[:component] %>
    </div>
    <% end %>
  <% end %>
</div>
